<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805516312755-aba6shvpe5n4md7ulprte7gf1928bip9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805516312755-aba6shvpe5n4md7ulprte7gf1928bip9</string>
	<key>API_KEY</key>
	<string>AIzaSyDC9mEqo0kDSfvoscU50ouUUl8zl0u5DMY</string>
	<key>GCM_SENDER_ID</key>
	<string>805516312755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dicodingChattingFirebase</string>
	<key>PROJECT_ID</key>
	<string>dicoding-chatting-86a6d</string>
	<key>STORAGE_BUCKET</key>
	<string>dicoding-chatting-86a6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805516312755:ios:5440f0eba0ec38124ab0c6</string>
</dict>
</plist>